# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.g.dart
*.freezed.dart

# Android
android/app/debug
android/app/profile
android/app/release
android/.gradle/
android/app/build/
*.jks
*.keystore
key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/xcuserdata/
*.xcuserdata

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake

# IDE
.idea/
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Env
.env
